In [5]:
import pandas as pd
data={'Tid':[1,2,3,4,5,6,7,8,9,10],'Refund':['Yes','No','No','Yes','No','No','Yes','No','No','No'],'Martial Status':['single','married','single','married','divorced','married','divorced','single','married','single'],'Taxable Income':['125k','100k','70k','120k','95k','60k','220k','85k','75k','90k'],'Cheat':['no','no','no','no','yes','no','no','yes','no','yes']}
df= pd.DataFrame(data)
print(df)

   Tid Refund Martial Status Taxable Income Cheat
0    1    Yes         single           125k    no
1    2     No        married           100k    no
2    3     No         single            70k    no
3    4    Yes        married           120k    no
4    5     No       divorced            95k   yes
5    6     No        married            60k    no
6    7    Yes       divorced           220k    no
7    8     No         single            85k   yes
8    9     No        married            75k    no
9   10     No         single            90k   yes

In [7]:
print(df.iloc[0])
print(df.iloc[4])
print(df.iloc[7])
print(df.iloc[8])

Tid                    1
Refund               Yes
Martial Status    single
Taxable Income      125k
Cheat                 no
Name: 0, dtype: object
Tid                      5
Refund                  No
Martial Status    divorced
Taxable Income         95k
Cheat                  yes
Name: 4, dtype: object
Tid                    8
Refund                No
Martial Status    single
Taxable Income       85k
Cheat                yes
Name: 7, dtype: object
Tid                     9
Refund                 No
Martial Status    married
Taxable Income        75k
Cheat                  no
Name: 8, dtype: object

In [9]:
print(df.iloc[3:7])
print(df.iloc[4:8,2:4])
print(df.iloc[:,1:4])

   Tid Refund Martial Status Taxable Income Cheat
3    4    Yes        married           120k    no
4    5     No       divorced            95k   yes
5    6     No        married            60k    no
6    7    Yes       divorced           220k    no
  Martial Status Taxable Income
4       divorced            95k
5        married            60k
6       divorced           220k
7         single            85k
  Refund Martial Status Taxable Income
0    Yes         single           125k
1     No        married           100k
2     No         single            70k
3    Yes        married           120k
4     No       divorced            95k
5     No        married            60k
6    Yes       divorced           220k
7     No         single            85k
8     No        married            75k
9     No         single            90k